# Node modules and build output
node_modules
dist
build
.next
coverage
out-tsc
out-tsc-*

# Logs and environment files
*.log
*.env
*.env.*

# OS and editor files
.DS_Store
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Test and debug files
__tests__/
*.test.*
*.spec.*
*.sql

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*