**/*.idea
**/*.env
**/*.log
**/*.DS_Store
**/*.sublime-project
**/*.sublime-workspace

**/*node_modules
**/*dist
**/*build
**/*coverage
**/*out-tsc
**/*out-tsc-*
**/*.next

/.cursor
/jp-kana-app/.next/

/postgres.psql
/jp-kana-app/tsconfig.tsbuildinfo
/db-push.sh
/.github/prompts
/.vscode
/.env.docker
/logo.jpg
/src
/logo.png
/git.txt