**/*.idea
**/*.sql
**/*.env
/frontend/dist/
/frontend/node_modules/
/backend/node_modules/
/backend/dist/
/backend/build/
/backend/logs/
/backend/logs/
/frontend-demo/node_modules/
/frontend-demo/dist/
/frontend-demo/build/
/frontend-demo/logs/
/frontend-demo/logs/

