**/*.idea
**/*.env
**/*.log
**/*.DS_Store
**/*.sublime-project
**/*.sublime-workspace

**/*node_modules
**/*dist
**/*build
**/*coverage
**/*out-tsc
**/*out-tsc-*
**/*.next

/.cursor
/jp-kana-app/.next/

/postgres.psql
/jp-kana-app/tsconfig.tsbuildinfo
/db-push.sh
/.github/prompts
/.vscode
/.env.docker
/logo.jpg
/src
/logo.png
/git.txt

__tests__/db/test.db
__tests__/db/generated/
__tests__/db/migrations/
/__tests__/db/test.db-journal

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.claude
/.env.test
/git.md