.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homeTitle {
  margin-bottom: 20px;
}

.homeButton {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
